.navbar-blockbuster {
  justify-content: space-between;
  background: white;
  padding: 4px 20px;
}

.navbar-blockbuster .navbar-collapse {
  flex-grow: 0;
}

.navbar-blockbuster .navbar-brand img {
  width: 100px;
}
