.container {
  padding: 100px 10px;
  display: flex;
  justify-content: center;
  .sign-in-form {
    width: 500px;
    .sign-in-card {
      border: solid #cacaca 1px;
      border-radius: 4px;
      padding: 30px;
    }
  }
}